<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="qa.maven.adi.MavenProject.AppiumTest"/>
      <class name="qa.maven.adi.MavenProject.SeleniumTest">
       <methods>
       <exclude name="BrowserAutomation"></exclude>
       </methods>
      </class>
      <class name="qa.maven.adi.MavenProject.RestAPITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
